
<div class="banner">

</div>

<div class="content">
    <h1>WHAT'S COOKING?</h1>
    <p>Not sure what to cook?<br>
        Here is your one stop solution to find recipes that best match the ingredients in hand.
        Whats' Cooking? <br>makes your life easier by helping you decide what to cook based on the time and ingredients in hand.

    </p>

    <div>
        <a class="btn" routerLink="/adminlogin"  role="button">Admin Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn" routerLink="/userlogin" role="button">User Login</a>
    </div>
</div>



    <!-- <div class="my-3" id="login">
        <p >Food Recipies</p>
        <a class="btn btn-warning btn-lg" routerLink="/adminlogin"  role="button">Admin Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" routerLink="/userlogin" role="button">User Login</a>
    </div>

<div>
    <img src="../../assets/images/image1.jpg" class="d-block w-100" alt="Max-width 100%">
    

    <br>
    <div class="my-5">

    </div>
    <br>

    <div class="jumbotron">
        <div class="text-center">
            <h1 class="display-4">Whats Cooking ?</h1>
        </div>
        <p class="lead">Cooking, cookery, or culinary arts is the art, science and craft of using heat to prepare food
            for consumption. Cooking techniques and ingredients vary widely, from grilling food over an open fire to
            using electric stoves, to baking in various types of ovens, reflecting local conditions.</p>
        <hr class="my-4">
        <p>One cannot think well, love well, sleep well, if one has not dined well</p>

    </div>
</div> -->
