# Ignore node_modules directory (as npm install will handle dependencies)
node_modules/

# Ignore logs, temporary files, and system files
*.log
*.tmp
.DS_Store
Thumbs.db

# Ignore Angular build output (this is built during the Docker process)
dist/

# Ignore IDE-specific files
.idea/
.vscode/
