<!--Header-->
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="redirect:/">Food Recipie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="redirect:/">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
<!--/Header-->

<!-- <div class="container">
    <div class="jumbotron my-5">
        <h1 class="display-4">Hello, User!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <button class="btn btn-primary btn-lg" (click)="onNav()">Book List</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-primary btn-lg" href="#" role="button">Ratings</a>
      </div>
  </div> -->

<p></p>
<div class="container">
  <div>
    <form class="form-inline" [formGroup]="searchRecipeGroup">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
        formControlName="searchByCategory">
      <button class="btn btn-success" type="submit" (click)="onSearchByCat()">Search</button>
    </form>
    <p></p>
  </div>


  <div class="row">
    <div *ngFor="let recipe of recipeList; let i = index" class="card"
      style="width: 18rem; margin-right: 10px; margin-bottom: 30px;">
      <div (click)="recipeDetails(recipe)" style="cursor: pointer;">
        <img class="card-img-top" src={{recipe.imgurl}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{recipe?.id}} {{recipe?.name}}</h5>
          <h2 class="card-title">{{recipe?.category}}</h2>
          <p class="card-text">{{recipe?.cookingSteps}}</p>

          <a href="redirect:/" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
              <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
            </svg>
          </a>
          &nbsp;
          <a href="redirect:/" class="btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
              <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
            </svg>
          </a>

        </div>
      </div>

    </div>
  </div>
</div>
<p></p>
<!--Footer-->

<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
  <div class="container text-center">
    <span class="text-light">Made By&copy;Group 4 218 JM Batch. </span>
  </div>
</footer>

<!--/Footer-->
</body>