/* body{
    background-image: linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.70)),url(https://media.istockphoto.com/photos/indian-food-celebration-for-ramadan-picture-id1217829391);
    background-size: cover;
    background-position: center;
}
 */
